# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5.0.0
    - name: Setup node
      uses: actions/setup-node@v5.0.0
      with:
        node-version-file: '.nvmrc'
    - uses: nanasess/setup-chromedriver@v2.3.0
    - run: |
        export DISPLAY=:99
        chromedriver --url-base=/wd/hub &
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional
    - name: Install dependencies
      uses: borales/actions-yarn@v5.0.0
      with:
        cmd: install
    - run: npm test
      env:
        CI: true
        ENV: qa
